# Introduction to Python

- Variable
- Data Type Primary
  - Number
    - Integer
    - Float
  - String
  - Boolean
- Data Type Array (Collections of Data)
  - List
  - Tuple
  - Dictionary
  - Set
- Operation

---

Nama : Nicku Rendy Perdana  
Batch : HCK-012  

---

In [1]:
# Run this block code
print("HELLO")

# print("WORLD")

HELLO

# Variable

Rules dari membuat nama variable:
- Dimulai dengan huruf
- Perhatikan plural / singular jika dalam bahasa inggris
- bisa camelCase, PascalCase, snake_case tidak kebab-case.


Buatlah 3 variable yaitu:
- variable name dan isi dengan namamu
- variable favoriteNumber isi dengan angka kesukaanmu
- variable isHungry dan isi True jika kamu lapar dann False jika kamu tidak lapar

In [4]:
# Code dibawah ini

name = "Nicku"
favouriteNumber = 8
isHungry = False

# Data Type Primary

## Data Type Number

Terdapat Integer dan Float

In [16]:
# Latihan kode disini (Ikuti dalam kelas)

print(favouriteNumber)
print(type(favouriteNumber))
print(favouriteNumber == 9)
print(favouriteNumber == 8)

favouriteNumber = 2 # Reassignment terhadap variabel la
print(favouriteNumber)

favouriteNumber += 2 # langsung menambahkan angka dalam variabel
print(favouriteNumber)
favouriteNumber = favouriteNumber + 5
print(favouriteNumber)

print("============")

favouriteNumber = favouriteNumber - (favouriteNumber / 2)
print(favouriteNumber)
print(type(favouriteNumber))

4.5
<class 'float'>
False
False
2
4
9
============
4.5
<class 'float'>

Latihan Float

In [23]:
tigaSetengah = 1.5
print(tigaSetengah)

tigaSetengah = int(tigaSetengah)
print(tigaSetengah)

tigaSetengah = float(tigaSetengah)
print(tigaSetengah)

print("==========")

phi = 3.14
print(round(phi))
kappa = 3.49
print(round(kappa))

1.5
1
1.0
==========
3
3

## Data Type String

Peruntukannya untuk text dapat menggunakan kutip 1 atau 2 ' "

In [25]:
# Latihan kode disini (Ikuti dalam kelas)

name = "Nicku"
print(name)
print(type(name)) # Tipe variabel
print(len(name)) # Banyaknya huruf dalam variabel untuk sejauh ini

name += str(" R.")
name += str(" Perdana")
print(name)
print(len(name)) # Banyaknya huruf dalam variabel `name`

# Mengambil huruf pertama dengan indexing, urutan dimulai dari 0, 1, 2, 3, 4, dst.
print(name[0]) # Huruf pertama nama index 0, urutan ke-3
print(name[1]) # Huruf kedua nama index 1, urutan ke-2

Nicku
<class 'str'>
5
Nicku R. Perdana
16
N
i

In [31]:
# Ada 2 nama disimpan pada variable `boy` dan `girl`. Hitung berapa character kedua variable

boy = "Adam"
girl = "hawa"

# Cara 1
print(len(boy) + len(girl))

# Cara 2
gabungan = boy + girl
print(len(gabungan))

print(name)
print(name.upper()) # Mengkapitalkan semua huruf dalam variabel tanpa argumen

name1 = "nicku"
print(name1.capitalize())

8
8
Nicku R. Perdana
NICKU R. PERDANA
Nicku

## Data Type Boolean

Yaitu True dan False

In [35]:
# Latihan kode disini (Ikuti dalam kelas)

print(0 == False)
print(1 == True)

print(type(isHungry))
print(str(isHungry) + ' holla')

True
True
<class 'bool'>
False holla

In [41]:
# Menggabungkan banyak variabel

# Cara 1
print(name, isHungry, favouriteNumber)

# Cara 2
print(f"Namaku {name}, angka favoritku adalah {int(favouriteNumber)}, status lapar {isHungry}")

# Cara 3
print("Namaku " + name + ", angka favoritku adalah " + str(favouriteNumber) + ", status lapar" + str(isHungry))

Nicku R. Perdana False 4.5
Namaku Nicku R. Perdana, angka favoritku adalah 4, status lapar False
Namaku Nicku R. Perdana, angka favoritku adalah 4.5, status laparFalse

# Data Type Array / Data Type For Collections of Data

Kalo w3school menyebutkannya sebagai [Python Collections (Arrays)](https://www.w3schools.com/python/python_lists.asp#:~:text=Python%20Collections%20(Arrays)).

----- note disini latihan menggunakaan markdown text yaa..

## List [ ]

In [56]:
names = ["Bita", "Nicku", "Ogi", "Riki", "Naufal"]
print(names)
print(type(names))
print(names[0])

# Jumlah value/data dalam list
print(len(names))

# Hapus "Riki" dalam List
names.remove("Riki") # string sangat case-sensitive
print(names)

# Menambahkan "Ayu"
names.append("Ayu") # menambahkan di belakang
print(names)

#bila nama yang ingin dihapus dengan .remove itu banyak, ia hanya menghapus di index pertama yang ditemui
names1 = ["Bita", "Nicku", "Ogi", "Riki", "Naufal", "Riki", "Riki", "Riki"]
names1.remove("Riki")
print(names1)


# mengakses index terakhir
#Cara 1
n = len(names) - 1
print(names[n])
# Cara 2
print(names[-1])

['Bita', 'Nicku', 'Ogi', 'Riki', 'Naufal']
<class 'list'>
Bita
5
['Bita', 'Nicku', 'Ogi', 'Naufal']
['Bita', 'Nicku', 'Ogi', 'Naufal', 'Ayu']
['Bita', 'Nicku', 'Ogi', 'Naufal', 'Riki', 'Riki', 'Riki']
Ayu
Ayu

In [60]:
numbers = [2000, 1000, 5000, 100, 200]
print(numbers)

# sort numbers, by default, it is ascending
numbers.sort() # akan mereplace variabel numbers
print(numbers)

# sort numbers, with descending function
numbers.sort(reverse=True)
print(numbers)

[2000, 1000, 5000, 100, 200]
[100, 200, 1000, 2000, 5000]
[5000, 2000, 1000, 200, 100]

In [61]:
print(numbers)

[5000, 2000, 1000, 200, 100]

In [65]:
listMakanan = ["Sushi", "Cokelat", "Kopi"]
listMakananFavorite = listMakanan
listMakananFavorite.append("Yakult")

# Keduanya Berubah
print(listMakanan)
print(listMakananFavorite)

['Sushi', 'Cokelat', 'Kopi', 'Yakult']
['Sushi', 'Cokelat', 'Kopi', 'Yakult']

In [66]:
listMakananFavourite = listMakanan.copy()
listMakananFavourite.append("Susu")

print(listMakanan)
print(listMakananFavourite)

['Sushi', 'Cokelat', 'Kopi', 'Yakult']
['Sushi', 'Cokelat', 'Kopi', 'Yakult', 'Susu']

## Tuple ()

In [90]:
names2 = ('Bita', 'Nicku', 'Ogi', 'Naufal', 'Riki', 'Riki', 'Riki')

print(names2)
print(names[2])

('Bita', 'Nicku', 'Ogi', 'Naufal', 'Riki', 'Riki', 'Riki')
Ogi

## Set

In [70]:
# set tidak daoat diakses indeksnya

print(names1)
print(set(names1))

#set tidak dapat diakses indeksnya

['Bita', 'Nicku', 'Ogi', 'Naufal', 'Riki', 'Riki', 'Riki']
{'Riki', 'Ogi', 'Bita', 'Nicku', 'Naufal'}

## Dictionary

In [78]:
persianCat = {
    'name': 'Luwy',
    'age': 4,
    'weight': 5.5,
    'height': 30,
}

print(persianCat)
print(len(persianCat))

# akses value dengan keyname (bukan index [])

print(persianCat['name']) # mengakses value dari key 'name'

# menambahkan keyname dan value baru
persianCat['isVaccined'] = True
print(persianCat)

# mengubah value jika keyname tersebut sudah ada
persianCat['name'] = 'Snowy'
print(persianCat)

{'name': 'Luwy', 'age': 4, 'weight': 5.5, 'height': 30}
4
Luwy
{'name': 'Luwy', 'age': 4, 'weight': 5.5, 'height': 30, 'isVaccined': True}
{'name': 'Snowy', 'age': 4, 'weight': 5.5, 'height': 30, 'isVaccined': True}

# Excercise

In [87]:
listAlphabet = [
    [0, "Ayu", 'Bita', 'Cinta'],
    [1, 'Dian', 'Ersa', 'Fanta'],
    [2, 'G', 'H', 'I']
]

print(listAlphabet[0][0])
print(listAlphabet[1][3])
print(len(listAlphabet[1][-1]))

listHCK12 = {
    "students": ['Bita', 'Revo', 'Nicku', 'Samuel', 'Panji', 'Yuda'],
    "buddy": ['Ayu', 'Ayu', 'Ayu', 'Sapta', 'Sapta', 'Ayu'],
    "scores": [100, 100, 90, 90, 100, 50]
}

# Return nama student 'Revo' dan buddy nya
print(listHCK12['students'][1], listHCK12['buddy'][1])

# Return skor tertinggi dan terendah
print(max(listHCK12['scores']))
print(min(listHCK12['scores']))

0
Fanta
5
Revo Ayu
100
50